# Ignore Terraform-related files
ELB/terraform/.terraform.lock.hcl
ELB/terraform/.terraform/
ELB/terraform/terraform.tfstate
ELB/terraform/terraform.tfstate.backup
efs/MyKeyPair.pem

# Generic Terraform ignores
*.terraform.lock.hcl
.terraform/
terraform.tfstate
terraform.tfstate.backup
*.tfstate
*.tfstate.backup
*.tfvars
*.tfplan

# Ignore SSH private keys
*.pem